@import '~terra-mixins';
@import './themes';

:local {
  .article-card {
    height: 750px;
    width: 400px;
  }

  .featured-article {
    height: 400px;
    width: 950px;

    border-style: solid;
    border-width: thin;

    >div {
      max-height: 100%;
      max-width: 100%;
      padding-left: 1em;
    }
  }
}
