@import '~terra-mixins';
@import './mixins';
@import './themes';



:local {
  /* stylelint-disable selector-class-pattern  */
  .status-view {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1.429rem 0;
    width: 100%;
  }

  .icon {
    flex: 0 0 auto;
    padding-bottom: 0.2857rem;
    padding-top: 1.429rem;
    width: var(--terra-statusview-icon-width, 100px);
    width: var(--terra-statusview-icon-width, 100px);
  }

  .heading {
    color: var(--terra-statusview-heading-text-color, #c8cacb);
    flex: 0 0 auto;
    font-size: var(--terra-statusview-heading-text-size, 1.71rem);
    line-height: var(--terra-statusview-heading-line-height, 1.284);
    text-align: center;
  }

  .subtext {
    color: var(--terra-statusview-subtext-text-color, #6f7477);
    flex: 0 0 auto;
    font-size: var(--terra-statusview-subtext-text-size, 1rem);
    line-height: var(--terra-statusview-subtext-text-line-height, 1.142);
    padding-top: 0.2857rem;
    text-align: center;
  }

  .subtext-content {
    flex: 0 0 auto;
    padding-top: 0.2857rem;
  }

  .divider {
    display: var(--terra-statusview-divider, block);
  }
}
